/* stijlen voor Home */


html{
    height: 100%;
    width: 100%;
    background-color: #3c444d;
    overflow: auto;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    overflow: auto;
    border: 1px solid;
    overflow: inherit;
    

}

nav{
    width: 100%;
    float: right;
    background-color: #061b31;
}

 nav ul{
    text-align: center;
    margin: 40px;
    padding-left: 0;
    
    
}


nav ul li {
    display: inline-block;
    list-style-type: none;
    height: 45px;
    background:#061b31;
}

nav ul li a{
    padding-right: 10px;

}

li{
 margin: 8px;
 padding-left: 20px;
 padding-right: 20px;
}
 
 a{
    color: #f7eded;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
}



nav ul li a:hover{
    opacity: 1;
    color: #db545a;
}

#logo{
    margin-top: -25px;
    height: 145px;
    width: 145px;
    float: right;
    margin-right: 700px;
    
}

.heures {
    width: 100%;
}

.Home h1{
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 60px;
    font-weight: 700;
}

.Le-mans{
    font-size: 50px;
    font-weight: 600;
}


.container-1 {
    display: flex;
    align-items: center; /* Centreren van de items in de container */
    color: #f7eded;
    margin: 40px;
 } 
 
 .strong{
    font-size: 50px;
    font-weight: 600;
    text-decoration: underline rgb(148, 4, 4);
 }

 .inleiding{

    font-size: 20px;

 }

.container-1 img {
    width: 35%; /* Pas de breedte van de afbeelding aan naar jouw wens */
    margin-left: 100px; /* Behoud de aspectverhouding */
    margin-right: 50px;
    margin-top: 150px; /* Spacing tussen de afbeelding en de tekst */
}

.container-1 .tekst {
    flex: 1; /* De tekst neemt alle beschikbare ruimte in de container in beslag */

}


.container-2 {
    display: flex;
    align-items: center; /* Centreren van de items in de container */
    color: #f7eded;
    margin: 40px;

    
 }    

.container-2 img {
    width: 50%; /* Pas de breedte van de afbeelding aan naar jouw wens */
    height: 1000px; /* Behoud de aspectverhouding */
    margin-top: 200px; /* Spacing tussen de afbeelding en de tekst */
    margin-right: 40px;
} 

.container-2 .tekst {
    flex: 1; /* De tekst neemt alle beschikbare ruimte in de container in beslag */

}




.project {
    text-align: center;
    font-size: 20px;
    background-color: #061b31;
    padding: 70px;
    color: #f7eded;
}


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8;
    }

    .section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;

    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;

    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

}

@media (max-width:300px) {

    .body {
        font-size: 5px;

    }

    .main-content h2 {
        font-size: 0.3em;
    }

    .main-content h3 {
        font-size: 0.7em;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }
}



    
    
